In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("sales_data.csv", header="")

In [6]:
df.head()

,InvoiceID,OrderDate,OrderTime,CustomerName,City,Category,ProductName,Quantity,UnitPrice,Discount,PaymentMethod,DeliveryStatus
0,1001,2024-02-05,20:42,امین اکبری,تهران,ورزشی,کفش ورزشی,3,334094,20,در محل,لغو شده
1,1002,2024-03-08,11:38,زهرا سادات,رشت,ورزشی,طناب ورزشی,1,815567,15,کیف پول,ارسال‌شده
2,1003,2024-03-02,14:58,رضا احمدی,اهواز,الکترونیک,کیبورد,4,249889,15,آنلاین,در حال ارسال
3,1004,2024-01-06,21:59,محسن موسوی,رشت,ورزشی,طناب ورزشی,2,363485,10,کیف پول,ارسال‌شده
4,1005,2024-06-02,16:27,زهرا سادات,شیراز,تحریر,پاک‌کن,4,649042,10,آنلاین,در حال ارسال

In [8]:
# calculation quantity price
df["Total"] = df["UnitPrice"] * df["Quantity"] * (1 - df["Discount"] / 100)
df["Total"].sum()

133863391.6

In [10]:
#month sales 
df["month"] = pd.to_datetime(df["OrderDate"]).dt.to_period("M")
df.groupby("month")["Total"].sum()

month
2024-01    21967452.20
2024-02    23266677.75
2024-03    27248128.10
2024-04     8585526.55
2024-05    27359236.00
2024-06    25436371.00
Freq: M, Name: Total, dtype: float64

In [11]:
#order of Each customer
df["CustomerName"].value_counts()

CustomerName
علی رضایی      23
زهرا سادات     19
نگار زمانی     17
امین اکبری     15
فاطمه یوسفی    14
رضا احمدی      11
محسن موسوی     11
سارا مرادی     10
Name: count, dtype: int64

In [15]:
df["DeliveryStatus"].value_counts(normalize=True)

DeliveryStatus
ارسال‌شده       0.708333
در حال ارسال    0.191667
لغو شده         0.100000
Name: proportion, dtype: float64

In [16]:
df["PaymentMethod"].value_counts(normalize=True)

PaymentMethod
کیف پول    0.275000
کارت       0.250000
آنلاین     0.241667
در محل     0.233333
Name: proportion, dtype: float64